html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(25, 59, 78);
    padding: 10px 20px 0px;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.header {
    background-color: rgb(25, 59, 78);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(56, 140, 189);
    min-height: 150px;
}
#mensagem {
    min-height: 50px;
    width: 500px;
}