html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(25, 59, 78);
    padding: 10px 20px 0px;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.header {
    background-color: rgb(25, 59, 78);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(56, 140, 189);
    min-height: 150px;
}
table thead th{
    background-color: black;
    color: white
}
table, td {
    border-spacing: 0px;
    border: solid 1px;
}
table {
    -webkit-box-shadow: 6px 9px 18px 3px rgba(0,0,0,0.48); 
    box-shadow: 6px 9px 18px 3px rgba(0,0,0,0.48);
}
#one {
    background-color: royalblue;
    color: black;
}
#two {
    background-color: white;
    color: black;
}
#tree {
    background-color: royalblue;
    color: black;
}
#for {
    background-color: white;
    color: black;
}
#five {
    background-color: royalblue;
    color: black;
}